body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* Cor de fundo do site */
}

.navbar {
    background-color: black; /* Preto */
    padding: 15px 30px; /* Ajuste o padding para garantir que a barra não seja muito alta */
    display: flex;
    justify-content: space-between; /* Distribui os itens uniformemente */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #333; /* Linha cinza para separar a barra de navegação do site */
}

.navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.navbar-title {
    font-size: 24px;
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove a decoração padrão do link */
    margin-right: auto; /* Alinha o título à esquerda */
    line-height: 40px; /* Ajuste conforme necessário */
}

.navbar-links {
    display: flex;
    gap: 30px; /* Espaçamento entre os links */
    justify-content: center; /* Centraliza os links */
    align-items: center; /* Alinha verticalmente os links */
    flex-grow: 1; /* Faz com que ocupe o espaço restante */
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white; /* Cor do texto */
    font-size: 18px; /* Aumenta o tamanho do texto */
    padding: 10px 0 5px 0; /* Ajuste o padding-bottom para aproximar a linha do texto */
    display: inline-block; /* Garante que a linha ocupe o espaço do texto */
    line-height: 20px; /* Ajuste conforme necessário */
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-search {
    display: flex;
    align-items: center;
    margin-left: auto; /* Alinha a lupa à direita */
}

.search-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px; /* Define um tamanho fixo para o contêiner */
    height: 34px; /* Define um tamanho fixo para o contêiner */
    background-color: transparent; /* Remove o fundo da lupa */
}

.search-icon img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.search-icon:hover img {
    transform: scale(1.1); /* Leve aumento ao passar o mouse */
}
