body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* Cor de fundo do site */
    color: white; /* Cor do texto */
}

.navbar {
    background-color: black; /* Preto */
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-title {
    font-size: 1.2rem;
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove a decoração padrão do link */
    margin-right: auto; /* Alinha o título à esquerda */
}

.navbar-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white; /* Cor do texto */
    font-size: 1rem;
}

.navbar-search img {
    width: 24px;
    height: 24px;
}

.main-container {
    text-align: center;
    padding: 100px 20px;
}

h1 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 10px;
}

h2 {
    font-size: 2.5rem;
    margin: 0 0 20px;
}

p {
    font-size: 1rem;
    margin: 0 0 20px;
}
